:root {
  --color-main: rgb(154, 197, 244);
  --main-gradient: linear-gradient(
    180deg,
    rgba(154, 197, 244, 1) 0%,
    rgba(17, 53, 92, 1) 100%
  );
  --color-overflow: #99dbf5;
  --overflow-gradient: linear-gradient(
    180deg,
    rgba(153, 219, 245, 1) 0%,
    rgba(98, 163, 189, 1) 100%
  );
  --color-overflow-opacity60: rgba(153, 219, 245, 0.6);
  --color-secondary: #a7ecee;
  --color-secondary-opacity60: rgba(167, 236, 238, 0.6);
  --color-secondary-opacity40: rgba(167, 236, 238, 0.4);
  --color-action: #ffeebb;
  --black: #242424;
  --white: #f4f4f4;
}

/************* RESET STYLES **************/

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

*,
:after,
:before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
  background: var(--color-overflow);
  background: var(--overflow-gradient);
}

img {
  width: 100%;
  height: auto;
}

li {
  list-style: none;
}
/************** GENERAL STYLES *************/

.container {
  padding: 3rem 0;
  margin: auto 0;
  max-width: 1080px;
  height: 100vh;
  /* background-color: var(--color-main); */
  background: var(--color-main);
  background: var(--main-gradient);
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
}

.container h2 {
  font-family: "Libre Baskerville", serif;
}

/************** HEADER *********************/

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 3rem;
  background-color: var(--color-secondary);
  padding: 0.5rem;
  z-index: 997;
}

.header-content {
  margin: 0 auto;
  width: 100%;
  height: 2.5rem;
  background: var(--color-overflow);
  background: var(--overflow-gradient);
}

.socials {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.socials a img {
  transition: all 0.5s ease-out;
  height: 1.7rem;
}

.socials a:hover {
  scale: 1.2;
}
/************** INTRO **********************/

.profile-img {
  width: 60%;
}

/************** PROYECTS *******************/

.proyect {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: var(--color-secondary-opacity40);
  text-align: justify;
  padding: 5.5rem 3rem;
  height: 100vh;
  width: 100%;
}

.proyect a{
  max-height: 60%;
}

.proyect a img{
  max-height: 100%;
}
.proyects-btn {
  position: absolute;
  width: 2rem;
 /* height: 2rem;*/
  border: none;
  border-radius: 50%;
  top: calc(50% - 2rem);
  cursor: pointer;
  background-color: var(--white);
  transition: all 0.3s ease-in-out;
}

.proyects-btn:hover {
  background-color: var(--color-action);
  color: var(--white);
}

.prev-btn {
  left: 5px;
}

.next-btn {
  right: 5px;
}

/************** KNOWLEDS ******************/

.know-table {
  margin: 0, auto;
  width: 100%;
}

.table-btn {
  border: none;
  color: var(--white);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: var(--color-secondary-opacity60);
}

.table-buttons{
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  display: flex;
  align-items: start;
}
.btn-is-active {
  /* font-size: 1.05rem; */
  background-color: var(--color-secondary);
  color: var(--color-action);
}

.table-content {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--color-overflow-opacity60);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 1rem;
  height: 40vh;
}

#knowled-content{
  text-align: left;
  margin: 0 auto;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#knowled-content li{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
/************** FOOTER ********************/

.top-btn {
  position: fixed;
  bottom: 10px;
  right: 5rem;
  width: 3rem;
  height: 3rem;
  z-index: 997;
}

.hamburger-btn {
  position: fixed;
  bottom: 10px;
  right: 1rem;
  width: 3rem;
  height: 3rem;
  z-index: 999;
}

/************** MENU *********************/

.menu {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100vh;
  background-color: var(--black);
  left: 100%;
  transition: all 1s ease-in-out;
}

.active {
  left: 0;
}
.menu-content {
  align-items: center;
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.menu-content a {
  color: var(--white);
  text-decoration: none;
}

.btn-menu {
  border-radius: 50%;
  border: none;
  background-color: var(--black);
  color: var(--color-action);
  transition: all 0.5s ease-out;
}

.btn-menu:hover {
  background-color: var(--black);
  color: var(--color-action);
  rotate: 360deg;
}

.btn-menu-active {
  color: var(--black);
  background-color: var(--color-action);
}
/***************** *****************/

/* section img {
  animation: move 2s ease infinite;
}

@keyframes move {
  0% {
    position: absolute;
    transform: scale(1) rotate(0deg);
    left: 50px;
    top: 200px;
  }

  100% {
    position: absolute;
    transform: scale(0.11) rotate(360deg);
    left: -160px;
    top: -161px;
  }
} */
